body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: black;
}

#grid-container {
  width: 70vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: white;
}

.grid-item {
  border: 1px solid black;
}

.grid-item:first-child {
  grid-row-start: 1;
  grid-row-end: 4;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}